{eunit_opts, [verbose, {skip_deps, true}]}.
{eunit_exclude_deps, true}.
{cover_enabled, true}.
{eunit_opts, [verbose]}.

{erl_opts, [
    fail_on_warning,
    {parse_transform, lager_transform},
    {lager_truncation_size, 1024}
]}.
{deps, [
        {sync, ".*", {git, "https://github.com/rustyio/sync.git","master"}},
	{lager, ".*", {git, "git://github.com/basho/lager.git", "master"}}
       ]}.
